@import "./colors";

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px 20px;
  &__icon {
    font-size: 60px;
    color: $accent;
    cursor: pointer;
  }
  &__title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
    font-size: 50px;
    margin: 20px 0;
  }
  &__text {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    color: #c9c6c6;
    font-size: 18px;
    // max-width: 320px;
    a {
      color: #fff;
    }
  }

  .scroll-down-btn-indicator{
    width:80px;
    height:80px;
    margin:20px auto;
    border-radius:80px;
    box-shadow:0 0 3px $accent;
    background: $accent;
    color:#fff;
  }
}
