@import "../colors";

.platforms {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  padding-bottom: 20px;
  @media only screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.h1__text {
  text-align: center;
  margin-top: 70px;
  font-weight: 600;
}
