@import "../colors";

.platform {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px 0;
  &__logo {
    font-size: 30px;
  }
  p {
    color: rgba($accent, 0.5);
    font-weight:bolder;
    padding:2px;
    font-size:10px;
  }
  h3 {
    font-weight: 400;
  }
}
